<h2>About</h2>

<p>Hey 👋, I’m Dan, a software developer based in Sheffield, UK.</p>

<p>You can expect this blog to cover mainly technical topics.</p>

<hr/>

<ul role="list">
  <li>
    Mastodon: <a rel="me" href="https://antiquated.systems/@kingy">@kingy@antiquated.systems</a>
  </li>
  <li>
    Github: <a rel="me" href="https://github.com/northerner">northerner</a>
  </li>
</ul>
